{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Fiche Albums{% endblock %}

{% block body %}
    <div class="row pt-2">
        {% for leAlbum in lesAlbums  %}
            <div class="col sm12 col-md-12 clo-lg4 col-xl-3">
                <div class="card mb-3">
                    <h3 class="card-header"><a href="{{ path('FicheAlbum',{'id':leAlbum.id}) }}">{{ leAlbum.nom }}</a></h3>
                    <div class="card-body">
                        <h5 class="card-title">
                           {{ leAlbum.artiste.nom }}
                        </h5>
                    </div>
                    <img src="{{ leAlbum.image }}" class="img-fluid mx-auto" alt="image {{ leAlbum.nom }}">
                    <div class="card-body">
                        <p class="card-text">{{ leAlbum.date }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% for leStyle in leAlbum.styles  %}
                                <span class="badge" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}} </span>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">
                            {% set nbTitre = leAlbum.morceaux|length %}
                            {{ nbTitre}}
                            {% if nbTitre>1 %}
                                 morceaux
                                {% else %}
                                    morceau
                            {% endif %}
                        </li>

                    </ul>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
