{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des albums {% endblock %}

{% block body %}
    <h1 class="pt-2 text-center">Gestion des albums</h1>

    {{ form_start(formFiltreAlbum) }}

        <div class="row">
            <div class="col">{{ form_row(formFiltreAlbum.nom) }}</div>
            <div class="col">{{ form_row(formFiltreAlbum.artiste) }}</div>
        </div>

        <button type="submit" class="btn btn-warning">Rechercher</button>



    {{ form_end(formFiltreAlbum) }}

    <a href="{{ path('admin_album_ajout') }}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Ajouter un album</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col-1">--</th>
            <th scope="col-2">Nom</th>
            <th scope="col-1">Année</th>
            <th scope="col-2">Artiste</th>
            <th scope="col-2">Styles</th>
            <th scope="col-2">Morceaux</th>
            <th scope="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for leAlbum in lesAlbums %}
            {% set nbTitre = leAlbum.morceaux|length %}
            <tr>
                <td class="col-1"><img src="{{asset('images/albums/'~ leAlbum.image)}}" class="img-fluid mx-auto rounded-circle"
                                       alt="image {{ leAlbum.nom }}"></td>
                <td class="col-2">{{ leAlbum.nom }}</td>
                <td class="col-1">{{ leAlbum.date }}</td>
                <td class="col-2">{{ leAlbum.artiste.nom }}</td>
                <td class="col-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% for leStyle in leAlbum.styles  %}
                                <span class="badge" style="background-color: {{leStyle.couleur}};"> {{leStyle.nom}} </span>
                            {% endfor %}
                        </li>
                    </ul>
                </td>
                <td class="col-2">
                    <span class="badge bg-success">
                        {{ nbTitre}}
                        {% if nbTitre>1 %}
                            morceaux
                        {% else %}
                            morceau
                        {% endif %}
                    </span>
                </td>
                <td class="col-2">
                    <a href="{{ path('admin_album_modif',{'id':leAlbum.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>

                    <a type="button" class="btn btn-danger"
                       data-bs-toggle="modal"
                       data-bs-target="#modalSimple"
                       data-titre="suppression d'un album"
                       data-message="Êtes vous sur de vouloir supprimer l'album {{ leAlbum.nom }}"
                       data-bouton="Supprimer l'album"
                       data-lien="{{ path('admin_album_suppression',{'id':leAlbum.id}) }}"
                    >
                        <i class="fa-regular fa-trash-alt"></i>
                    </a>
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
    <div class="navigation mx-auto">
        {{ knp_pagination_render(lesAlbums) }}
    </div>
    {% include 'include/_modale.html.twig' %}
{% endblock %}
