{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des artiste {% endblock %}

{% block body %}
    <h1 class="pt-2 text-center">Gestion des artistes</h1>
    <a href="{{ path('admin_artiste_ajout') }}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Ajouter un
        artiste</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col-1">--</th>
            <th scope="col-2">Nom</th>
            <th scope="col-7">Detail</th>
            <th scope="col-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for leArtiste in lesArtistes %}
            {% set nbAlbum=leArtiste.albums|length %}
            <tr>
                <td class="col-1"><img src="{{ leArtiste.image }}" class="img-fluid mx-auto rounded-circle"
                                       alt="image {{ leArtiste.nom }}"></td>
                <td class="col-2">{{ leArtiste.nom }}</td>
                <td class="col-7">
                    <p class="d-flex flex-row">
                            <span class="align-self center badge bg-success">{{ leArtiste.albums|length }}
                                {% if nbAlbum>1 %}albums {% else %}album {% endif %}
                            </span>
                        <span class="align-self center mx-3">
                                {% if leArtiste.type==0 %} Artiste solo{% else %} Groupe{% endif %}
                            </span>
                        <span align-self center ml-auto>
                                {{ leArtiste.site }}
                            </span>
                    <p>
                        {{ leArtiste.description|slice(0,100)|raw }} ...
                    </p>
                    </p>

                </td>
                <td class="col-2">
                    <a href="{{ path('admin_artiste_modif',{'id':leArtiste.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                    <a type="button" class="btn btn-danger"
                       data-bs-toggle="modal"
                       data-bs-target="#modalSimple"
                       data-titre="suppression d'un artiste"
                       data-message="Êtes vous sur de vouloir supprimer l'artiste {{ leArtiste.nom }}"
                       data-bouton="Supprimer l'artiste"
                       data-lien="{{ path('admin_artiste_suppression',{id:leArtiste.id}) }}"
                    >
                        <i class="fa-regular fa-trash-alt"></i>
                    </a>
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
    <div class="navigation mx-auto">
        {{ knp_pagination_render(lesArtistes) }}
    </div>
    {% include 'include/_modale.html.twig' %}
{% endblock %}
